/* Add application styles & imports to this file! */


.title {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #405065;
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
}

.connectingConnectorLabel {
    height: 23px;
    width: 110px;
    border-radius: 13px;
    color: #FFFFFF;
    text-align: center;
    z-index:3 !important;
    left: 50% !important;
    background-color: #456;
}
