<div>

  <form #bookTag="ngForm" (ngSubmit)="searchBook(bookTag.value)">
    <input type="text" name="book_name" placeholder="Enter book name" ngModel />
    <input id="bookSearchButton" class="mybutton" type="submit" value="submit" />
    <br />
  </form>

</div>



<div>
  <a mat-fab color="primary" (click)="bookList()" style="margin-left: 600px">bookList</a><br/>
  <!-- <a mat-fab color="primary" (click)="welocome()" style="margin-left: 200px">welcome</a> -->
  <p>If you click the bookList button, I will display all books: </p>

  <div *ngIf="book_list != null">
      <!-- use a for loop here to display all books
     -->
        <p> {{book_list[0]}}</p>
        <p> {{book_list[1]}}</p>
        <p> {{book_list[2]}}</p>
        <p> {{book_list[3]}}</p>
        <p> {{book_list[4]}}</p>
       
  </div>
  
</div>



<div class="add-book-button">
  <a mat-fab color="primary" (click)="addBook()" style="margin-right: 14px">
    <mat-icon>add</mat-icon>
  </a>
</div>








