p {
    padding: 16px;
    text-align: center;
  
  }

  .book {
    margin-top:25px;
    margin-bottom: 30px;
  }

  .add-book-button {
    z-index: 5; 
    position: fixed; 
    display: flex;
    align-self: flex-end; 
    bottom: 7%; 
    margin-bottom: 5px;
    margin-left: 80%; 
  }
