<div class="background">
  <div>
  <form #bookTag="ngForm" (ngSubmit)="searchBook(bookTag.value)">
    <input type="text" name="book_name" placeholder="Enter book name" ngModel />
    <input id="bookSearchButton" class="mybutton" type="submit" value="submit" />
    <br />
  </form>
</div>


<div style="color: black">
<h2><p>Some available books of our library: </p></h2>
</div>
  <div *ngIf="book_list != null">
      <!-- use a for loop here to display all books
     -->
       <p>
          <button (click)=download_a_book(book_list[0])> {{book_list[0]}} </button>
      </p>
      <p>
          <button (click)=download_a_book(book_list[1])> {{book_list[1]}} </button>
      </p>
      <p>
          <button (click)=download_a_book(book_list[2])> {{book_list[2]}}</button>
      </p>
      <p>
          <button (click)=download_a_book(book_list[3])> {{book_list[3]}}</button>
      </p>
      <p>
          <button (click)=download_a_book(book_list[4])> {{book_list[4]}}</button>
      </p>
  </div>


<div class="add-book-button">
  <a mat-fab color="primary" (click)="addBook()" style="margin-right: 14px">
    <mat-icon>add</mat-icon>
  </a>
</div>

</div>
