.box.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 40%;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    border-left: 50px solid white;
    margin-top: 30px;
  }
  .tushar {
    flex: 1;
  }

  .ali {
    flex: 1;
  }

  .eugine {
    flex: 1;
  }
  .sally {
    flex: 1;
  }
  
