
<div style=" border-left: 50px solid white;">
    
  <a>Tushar Malakar</a> <br>
    <a>Major : Computer Science</a> <br>
    <a>Hunter College, Class: 2019-20</a> <br>
    <a>Hackathon 2019 3rd Place Winner.</a> <br>
    <img src='assets/img/crown.jpg' width="200" height="200">
    
    <div>
        <a href="https://github.com/TusharMalakar">
          <i class="fa fa-github" style="font-size:30px; color:rgb(153, 135, 161) "> &nbsp; </i>
        </a>

        <a href="https://www.linkedin.com/in/tushar-malakar-abab17139/">
          <i class="fa fa-linkedin" style="font-size:30px; color:darkblue">  &nbsp; </i>
        </a>

        <a href="https://github.com/TusharMalakar/cuny2x/blob/master/Resume.pdf">
          <img src="assets/img/crown.jpg" alt="Avatar" class="avatar"> &nbsp;
        </a>

        <a href="https://devpost.com/TusharMalakar?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">
          <img src="https://img.icons8.com/material/30/000000/devpost.png">
        </a>
    </div>

</div> <br>


  

<!-- <mat-toolbar>  
    <mat-toolbar-row>
      <span>First Row</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Second Row</span>
    </mat-toolbar-row>
  </mat-toolbar> -->


